<div class="header">
    <a class="logo" href="/th">
        <img class="logo-header" src="../assets/images/logo.png" alt="">
    </a>
    <div class="login-form">
        <input type="text" pInputText placeholder="Username"
            style="margin-right: 5px;font-family: Ubuntu;    height: 40px;opacity: 0.5;">
        <p-password [(ngModel)]="value2" [toggleMask]="true" placeholder="Password" [feedback]="false"
            style="margin-right: 5px;font-family: Ubuntu;opacity: 0.5;"></p-password>
        <button pButton type="button" label="Login" (click)="gogo()"
            style="margin-right: 10px;margin-bottom: 2px;;width: 90px; background-color: #ed028c; border-color: #ed028c;font-family: Ubuntu;"></button>
    </div>
</div>
<div style="height: 728px;">



    <div class="img-background p-grid">
        <div class="p-col-3">

        </div>

        <div class="p-col-8" style="margin-top :40px;">

            <!-- <p-password></p-password> -->
            <h4 id="title" class="sub-title">CX Enhancement</h4>
            <h1 id="title" class="title">Survey System</h1>
            <img src="../assets/images/Thumbnail-TH.jpg" alt="">
            <p style="line-height: 0; font-family: Ubuntu;">
                ระยะเวลาเข้าร่วมกิจกรรม: วันที่ 1 มี.ค. 64 - 31 ธ.ค. 64
            </p>
            <p style="line-height: 0;font-family: Ubuntu;">
                จับสลากรางวัล: วันที่ 7 ก.พ. 65 ณ เมืองไทยประกันชีวิต สำนักงานใหญ่
            </p>
            <p style="line-height: 0;font-family: Ubuntu;">
                ประกาศรายชื่อผู้ได้รับรางวัล: วันที่ 14 ก.พ. 65 ผ่าน www.muangthai.co.th
            </p>

        </div>

    </div>
</div>



<div class="footer">

    <div class="p-grid">
        <div class="p-col-9">
            <label style="display: block; margin-top:2px;">copyright © 2020 Muang Thai Lift Assurance Public Company
                Limited.
                All
                right reserved.</label>

            <label>Muang Thai Lift Assurance website is best viewed with Google Chrome, FireFox, Safari และ Internet
                Explorer
                or
                higher.</label>
        </div>
        <div class="p-col-3" style="text-align: center;">
            Version 1.0.1
        </div>
    </div>

</div>