body {
  font-family: Ubuntu, "times new roman", times, roman, serif;
}

input {
  border-radius: 12px;
}

:host ::ng-deep .p-fluid .p-dropdown {
  border-radius: 12px;
}

.header {
  font-family: Ubuntu;
  display: block;
  background-color: #fea6d9;
  height: 97px;
  margin-top: -32px;
  margin-left: 8px;
  width: 100%;
}

.logo {
  width: 19rem;
  height: 17rem;
  position: absolute;
  z-index: 10;
  left: -50px;
  top: 0;
  background: url("../../../assets/images/logo-wrap.png") no-repeat 10px 0;
  background-size: contain;
}

img.logo-header {
  width: 54%;
  margin: 17px 0 0 78px;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.login-form {
  float: right;
  margin-top: 37px;
}
:host ::ng-deep .p-input-icon-right > .p-inputtext::placeholder {
  color: #ee4fac;
}

:host ::ng-deep .p-input-icon-right > i:last-of-type {
  color: #ee4fac;
}

::placeholder {
  color: #ee4fac;
}

.sub-title {
  font-family: Ubuntu;
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ee4fac;
}

.title {
  font-family: Ubuntu;
  margin-top: 0;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #ee4fac;
  font-size: 47px;
}

.loginForm {
  float: right;
}

.img-background {
  background: #fff url("../../../assets/images/bgd-tools-contact.svg") no-repeat
    bottom right;
  background-size: 520px;
  background-position-x: 1274px;
  border-radius: 6px;
  position: relative;
  height: inherit;
}

.footer {
  font-family: Ubuntu;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  width: 101%;
  padding-top: 5px;
  padding-left: 83px;
  color: white;
  font-size: 12px;
  background-color: #ed028c;
  height: 48px;
  margin-top: 120px;
  margin-left: -18px;
  margin-right: -8px;
}
