
------------ day 2 -------------
<div>
  <app-select-item></app-select-item>
  
  <input type="text" appMyInputText 
  [(value)]="myDirectiveValue" >
  <button type="button" appDebounce (debounce)="myDirectiveValue=''">clear</button>
  <p-button label="Click"></p-button>

  <p-dropdown [options]="cities"  
  placeholder="Select a City" 
  optionLabel="name" 
  [showClear]="true"></p-dropdown>
</div>
----------- day 1 -----------------

search: <input type="text" #searchInputText (input)="search(searchInputText.value)">
<table>
  <tr *ngFor="let product of displayProducts">
    <td>{{ product.name }}:</td>
    <td>
      <app-adjuster
        (add)="addSummary($event)"
        (subtract)="subtractSummary($event)"
        [step]="product.step"
        [(value)]="product.value"
        [min]="product.min"
        [max]="product.max"
      >
      </app-adjuster>
    </td>
  </tr>
  <tr>
    <td>
      sum:
    </td>
    <td>
      {{ sum }}
    </td>
  </tr>
</table>
<div>
  item:
  <input type="text" appMyInputText [(value)]="productName" />
  step: <input appMyInputText [(value)]="productStep" type="text" size="10" /> min:
  <input appMyInputText [(value)]="productMin" type="text" size="10" /> max:
  <input
    type="text"
    size="10"
    appMyInputText
    [(value)]="productMax"
    (keyup.enter)="
    addProduct();
    clearInput()
    "
  />
  <button
    type="button"
    (click)="
      addProduct();
      clearInput()
    "
  >
    add
  </button>
  <button
  (click)="addCarts()"
  type="button">
  buy
</button>
</div>


<!-- <div>
  <app-adjuster [(value)]="widthValue" [max]="1000" [step]="100">
  </app-adjuster>
</div> -->

<table>
  <tr *ngFor="let cart of carts">
    <td>
       {{cart.name}}: 
    </td>
    <td>
      {{cart.value}}
    </td>
  </tr>
  <tr>
    <td>
      sum:
    </td>
    <td>
      {{ sumCart }}
    </td>
  </tr>
</table>