<div class="p-grid" [formGroup]="departmentFormGroup">
    <div class="p-col-12">
        DepartmentName :
    </div>
    <div class="p-col-12">
        <input type="text" pInputText formControlName="departmentName" />
    </div>

    <div class="p-col-12">
        BudgetFrom :
    </div>
    <div class="p-col-12">
        <input type="text" pInputText formControlName="budgetFrom" />
    </div>
    <div class="p-col-12">
        BudgetTo :
    </div>
    <div class="p-col-12">
        <input type="text" pInputText formControlName="budgetTo" />
    </div>
    <div class="p-col-12">
        Province :
    </div>
    <div class="p-col-12">
        <input type="text" pInputText formControlName="province" />
    </div>

</div>